html {
    scroll-behavior: smooth;
    scroll-padding-top: 15vh;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #4C586F;
    color: #ffffff;
    font-size: 1rem;
    margin: 0 auto;
    background-image: url(./images/texture_watercolor.jpg);
    background-blend-mode: hard-light;
}

body.english {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@keyframes scroll-anim {
    0% {
        opacity: 0;
        translate: 0 -20px;
    }

    10% {
        opacity: 0;
        translate: 0 -20px;
    }

    20% {
        opacity: 1;
        translate: 0 0;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.lcontainer {
    width: 100%;
}

h2 span {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.1em;
    margin-bottom: 0.7em;
}

.image-frame {
    position: relative;
    width: 85%;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    margin-left: 0%;
}

.img-01,
.img-02,
.img-03 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-01 {
    background-image: url('./images/main-image.jpg');
    animation: slide-animation-01 24s infinite;
}

.img-02 {
    background-image: url('./images/sub-image1.jpg');
    animation: slide-animation-02 24s infinite;
}

.img-03 {
    background-image: url('./images/sub-image2.jpg');
    animation: slide-animation-03 24s infinite;
}

@keyframes slide-animation-01 {
    0% {
        opacity: 1;
        transform: scale(1.0);
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
        transform: scale(1.15);
    }

    90% {
        opacity: 0
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
}

@keyframes slide-animation-02 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
        transform: scale(1.1);
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
        transform: scale(1.0);
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-animation-03 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
        transform: scale(1.0);
    }

    70% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}

.weight-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.copy {
    writing-mode: vertical-rl;
    padding-left: 1rem;
}

.main-image {
    display: flex;
}

p {
    line-height: 2.5rem;
}

div .margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

main div {
    margin-bottom: 3vh;
}

div .field {
    display: flex;
    align-items: center;
}

.flex-width {
    width: 50vw;
    height: auto;
}

.flex-container {
    justify-content: space-between;
}

span {
    display: inline-block;
}

footer {
    background-color: #A2AAB0;
    color: #3E3E3B;
    padding-left: 10vw;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60%;
}

.image-frame2 {
    position: relative;
    width: 50vw;
    height: 37.5vw;
    object-fit: cover;
    overflow: hidden;
    margin-left: 0%;
}

.img2-01,
.img2-02,
.img2-03 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2-01 {
    background-image: url('./images/slide-1.png');
    animation: slide-animation-201 10s infinite;
}

.img2-02 {
    background-image: url('./images/slide-2.png');
    animation: slide-animation-202 10s infinite;
}

.img2-03 {
    background-image: url('./images/slide-3.png');
    animation: slide-animation-203 10s infinite;
}

@media (max-width: 999px) {
    .flex-container {
        flex-direction: column;
        /* 縦並び */
        justify-content: flex-start;
        /* 主軸方向 (縦方向) 上揃え */
        align-items: flex-start;
        /* 交差軸方向 (横方向) 左揃え */
        height: auto;
        /* 縦並びになったので高さは自動調整 */
    }

    .flex-width {
        width: 80vw;
    }

    .image-frame2 {
        width: 80vw;
        height: 60vw;
    }
}

/*  test area  */

.ato-de {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.ato-de.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slide-animation-201 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    90% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-animation-202 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-animation-203 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes scroll-anim {
    0% {
        opacity: 0;
        translate: 0 -20px;
    }

    10% {
        opacity: 0;
        translate: 0 -20px;
    }

    20% {
        opacity: 1;
        translate: 0 0;
    }

    100% {
        opacity: 1;
    }
}

.header {
    opacity: 0;
    animation: scroll-anim linear;
    animation-timeline: scroll();

    display: flex;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
}


/* .item-container {
  container-type: scroll-state;
  position: sticky;
  top: 0;
  right: 0;
}

.item {
    opacity: 0;
    transition: all 0.5s 0s ease;
  @container scroll-state(stuck: top) {
    opacity: 1;
    z-index: 10;
  }
} */
